/*------------------------------------------------------------------
[Table of contents]

1. Color Variables
2. Width Variables

-------------------------------------------------------------------*/

/*================================================================
  1. Color Variables
==================================================================*/

$black: #000;

$white: #fff;


/*================================================================
  2. Width Variables
==================================================================*/

$full-width: 100%;